<section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
    <header class="section__play-btn mdl-cell mdl-cell--3-col-desktop mdl-cell--2-col-tablet mdl-cell--4-col-phone mdl-color--teal-100 mdl-color-text--white">
        <img src="{poster_image_url}" width="220" height="250">
    </header>
    <div class="mdl-card mdl-cell mdl-cell--9-col-desktop mdl-cell--6-col-tablet mdl-cell--4-col-phone">
        <div class="mdl-card__supporting-text">
            <h4>{movie_title}</h4>
            {movie_story}
        </div>
        <div class="mdl-card__actions">
            <a href="#" data-trailer-youtube-id="{trailer_youtube_id}" class="mdl-button">Watch Video</a>
        </div>
    </div>
</section>